.container {
  align-items: center;
  background: linear-gradient(to bottom, #1a4a1c, #308834 600px);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 2rem;
  width: 100vw;
}

.welcome-container {
  justify-content: space-around;
}

.welcome {
  color: white;
  font-size: 40px;
  font-weight: 200;
}

.link {
  background-color: white;
  border: 1px solid red;
  border-radius: 5px;
  color: red;
  font-size: 24px;
  font-weight: 700;
  margin: 1rem;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
}
