

.title {
  color: #ffffff;
  font-size: 4rem;
  font-weight: 200;
  margin: 0;
  padding: 1rem 0;
  text-align: center;
}

.input-container {
  align-items: center;
  border: 2px solid var(--primary-green);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 7rem;
  justify-content: space-evenly;
  width: 22rem;
}

.input-button-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.game-won-form {
  display: flex;
}
