table, th, td {
  border: 2px solid white;
  border-collapse: collapse;
  color: white;
  padding: 0.5rem;
  text-align: center;
  width: 200px;
}

caption {
  background-color: #aaa;
  color: gold;
  font-size: 24px;
  font-weight: 700;
  padding: 0.5rem;
  text-transform: uppercase;
}
