.cards {
  background-color: var(--primary-green);
  border: 2px solid #aaa;
  border-radius: 5px;
  margin: 0 1.5rem;
  padding: 0.5rem;
}

.loading-msg {
  color: white;
  font-size: 2rem;
  text-align: center;
}
