.cards {
  background-color: var(--primary-green);
  border: 2px solid #aaa;
  border-radius: 5px;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 1.5rem;
  padding: 0.5rem;
}

.loading-msg {
  color: white;
  font-size: 2rem;
  text-align: center;
}
