@import-normalize; /* bring in normalize.css styles */

:root {
  --primary-green: #308834;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}
